:root {
  -webkit-font-smoothing: antialiased;

  --text-color: #fefefe;
  --background-color: #000;
  --metadata-color: #888;
  --main-background-color: #111111bf;
  --link-color: red;
  --border-color: #555;
}

h1, h2, h3, h4, h5, h6 {
  background: linear-gradient(to right,#ffd700,#ff8032);
}
