:root {
  -webkit-font-smoothing: antialiased;

  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 0%);
  --main-background-color: hsla(0, 0%, 7%, 0.85);
  --main-background-color-transparent: hsla(0, 0%, 7%, 0);
  --metadata-color: hsl(0, 0%, 53%);
  --link-color: #ec130e;
  --border-color: hsl(0, 0%, 33%);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-effect {
  background: linear-gradient(to right, hsl(51, 100%, 50%), hsl(23, 100%, 60%));
}
