:root {
  --text-color: #111;
  --background-color: #fffff8;
  --main-background-color-transparent: #fff0;
  --main-background-color: #ffffffbf;
  --metadata-color: #555;
  --link-color: blue;
  --border-color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: linear-gradient(90deg, #ff8032 0%, #ffc832 100%);
}
