:root {
  --text-color: hsl(0, 0%, 7%);
  --background-color: hsl(60, 100%, 99%);
  --main-background-color-transparent: hsla(0, 0%, 100%, 0);
  --main-background-color: hsla(0, 0%, 100%, 0.85);
  --metadata-color: hsl(0, 0%, 33%);
  --link-color: blue;
  --border-color: hsl(0, 0%, 40%);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-effect {
  background: linear-gradient(
    90deg,
    hsl(13, 100%, 60%) 0%,
    hsl(34, 100%, 50%) 100%
  );
}
