/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */

code[class*='language-'],
pre[class*='language-'] {
  color: hsl(322deg 95% 57%);
  text-shadow:
    0 0 2px hsl(315deg 14% 5%),
    0 0 5px hsl(322deg 94% 45% / 20%),
    0 0 10px hsl(0deg 0% 100% / 20%);
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1rem;
  margin: 1rem 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: transparent !important;
  background-image: linear-gradient(
    to bottom,
    hsl(263deg 27% 18%) 75%,
    hsl(257deg 32% 24%)
  );
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1rem;
  border-radius: 0.3rem;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(0deg 0% 56%);
}

.token.punctuation {
  color: hsl(0deg 0% 80%);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
  color: hsl(358deg 65% 68%);
}

.token.property,
.token.selector {
  color: hsl(153deg 82% 70%);
  text-shadow:
    0 0 2px hsl(315deg 14% 5%),
    0 0 10px hsl(153deg 54% 32% / 46%),
    0 0 35px hsl(150deg 8% 14% / 46%);
}

.token.function-name {
  color: hsl(210deg 51% 59%);
}

.token.boolean,
.token.selector .token.id,
.token.function {
  color: hsl(0deg 0% 99%);
  text-shadow:
    0 0 2px hsl(177deg 100% 5%),
    0 0 3px hsl(183deg 98% 49% / 46%),
    0 0 5px hsl(183deg 98% 49% / 46%),
    0 0 8px hsl(183deg 98% 49% / 46%);
}

.token.class-name {
  color: hsl(354deg 100% 98%);
  text-shadow:
    0 0 2px hsl(0deg 0% 0%),
    0 0 10px hsl(356deg 97% 55% / 46%),
    0 0 5px hsl(356deg 97% 55% / 46%),
    0 0 25px hsl(356deg 97% 55% / 46%);
}

.token.constant,
.token.symbol {
  color: hsl(322deg 95% 57%);
  text-shadow:
    0 0 2px hsl(315deg 14% 5%),
    0 0 5px hsl(322deg 94% 45% / 20%),
    0 0 10px hsl(0deg 0% 100% / 20%);
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
  color: hsl(38deg 42% 93%);
  text-shadow:
    0 0 2px hsl(69deg 6% 21%),
    0 0 8px hsl(39deg 96% 49% / 46%),
    0 0 2px hsl(39deg 96% 49% / 46%);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: hsl(22deg 93% 58%);
}

.token.operator,
.token.entity,
.token.url {
  color: hsl(179deg 50% 60%);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
