---
layout: layouts/home.njk
tags:
  - nav
navtitle: Archive
permalink: /posts/
---

<h2>Search</h2>

<script src="/pagefind/pagefind-ui.js"></script>
<search id="search"></search>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true, showImages: false, resetStyles: false });
    });
</script>

<h2>Archive</h2>

{% for year, yearPosts in collections.postsByYear %}
  <h3>{{ year }}</h3>
  <ul class="postlist">
    {% for post in yearPosts | reverse %}
      <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
