---
permalink: /.htaccess
eleventyExcludeFromCollections: true
---
ErrorDocument 404 /404.html

Options -MultiViews

RewriteEngine On

RewriteCond %{REQUEST_URI} ^/index\.php$
RewriteCond %{QUERY_STRING} ^date=(\d{4})-(\d{2})-(\d{2})&time=(\d{2}):(\d{2}):(\d{2}).*?$
RewriteRule ^(.*)$ ${legacyposts:%4%5%6}? [NC,L,R=301]

RewriteCond %{REQUEST_URI} ^/ViewByCategories\.php$
RewriteCond %{QUERY_STRING} ^category=(.*?)$
RewriteRule ^(.*)$ /tags/%1/? [NC,L,R=301]
RewriteRule ^atom.php$ /feed/feed.xml? [NC,L,R=301]

Redirect 301 /2019/12/01/animated-svg-favicon/ /2019/12/01/animated-svg-favicons/
Redirect 301 /2018/12/05/why-build-progressive-web-apps-push-but-don-t-be-pushy-video-write-up-094452/ /2018/12/04/why-build-progressive-web-apps-push-but-dont-be-pushy-video-write-up/
Redirect 301 /2019/12/09/inspecting_facebooks_webview/ /2019/12/09/inspecting-facebooks-webview/
