---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
===================================================================
|| Maintained by Thomas Steiner.                                 ||
|| You can contact me via steiner DOT thomas [at] gmail DOT com. ||
|| If you want to follow me, I'm @tomayac on Twitter.            ||
===================================================================

  ~~ 
  ~
c[_] Have a cup of coffee, and live long and prosper!