---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<h2>Thomas Steiner</h2>

<div class="metadata">
  <img class="author" src="/images/thomas_steiner.jpg" alt="Thomas Steiner headshot">
  <p>
    Dad-of-3 and
    <a href="https://careers.google.com/jobs/results/?company=Google&company=Google&q=%22Developer%20Advocate%22%20%22Chrome%22">Chrome Developer Advocate</a>
    at <a href="https://www.google.com/">Google</a> Hamburg. I <span class="heading-effect">🧡</span> the Web!
  </p>
</div>

<h2>Latest Posts</h2>

{% set postslist = collections.posts | head(-10) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
