---
permalink: /manifest.webmanifest
eleventyExcludeFromCollections: true
---

{
  "name": "Blogccasion",
  "short_name": "Blogccasion",
  "start_url": "/",
  "display": "minimal-ui",
  "theme-color": "#111",
  "background-color": "#000",
  "icons": [
    {
      "src": "/static/maskable_icon.png",
      "sizes": "360x360",
      "type": "image/png",
      "purpose": "maskable any"
    }
  ]
}