---
permalink: /manifest.webmanifest
eleventyExcludeFromCollections: true
---
{% set manifest %}
  {
    "name": "Blogccasion",
    "short_name": "Blogccasion",
    "start_url": "/",
    "display": "minimal-ui",
    "theme_color": "#111111",
    "background_color": "#000000",
    "icons": [
      {
        "src": "/static/maskable-icon.png",
        "sizes": "360x360",
        "type": "image/png",
        "purpose": "maskable"
      },
      {
        "src": "/static/icon-192x192.png",
        "sizes": "192x192",
        "type": "image/png",
        "purpose": "any"
      },
      {
        "src": "/static/icon.png",
        "sizes": "400x400",
        "type": "image/png",
        "purpose": "any"
      }
    ]
  }
{% endset %}{{ manifest | jsonMinify | safe }}