---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    # Date archives, which have their own /year/month/day templates.
    - postsByYear
    - postsByYearMonth
    - postsByYearMonthDay
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: "{{ tag | tagUrl }}"
---
<h2>Tagged “{{ tag }}”</h2>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
