---
permalink: /tags/
layout: layouts/home.njk
title: Tags
---
<h2>Tags</h2>

<ul>
{% for tag in collections.tagList | sort %}
  <li><a href="{{ tag | tagUrl | url }}" class="tag">{{ tag }}</a></li>
{% endfor %}
</ul>