---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	<link href="{{ metadata.feed.url }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{% set posts = collections.posts | reverse %}
	{% set items = posts.length if posts.length < 10 else 10 %}
	{%- for i in range(0, items) %}
	{% set post = posts[i] %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">
			{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
			&lt;img width=200 height=1 src=&quot;https://blog.tomayac.com/feed.php?dl={{ absolutePostUrl | urlencode }}&amp;dp={{ absolutePostUrl | replace("https://blog.tomayac.com", "") | urlencode }}&amp;dt={{ post.data.title | urlencode }}&quot; alt=&quot;&quot;&gt;
		</content>
	</entry>
	{%- endfor %}
</feed>
