{% if webmention.author and webmention.url %}
  <article id="webmention-{{ webmention['wm-id'] }}">
    <div class="metadata post-date">
      {% if webmention.author.photo %}
        <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="48" height="48" loading="lazy" class="author">
      {% else %}
        <img src="{{ '/static/avatar.svg' | url }}" alt="" width="48" height="48" loading="lazy" class="author">
      {% endif %}
      <p>
        By
        <a href="{{ webmention.author.url or webmention.url }}" target="_blank" rel="noopener noreferrer nofollow">{{ webmention.author.name or (webmention.url | truncate(50, true, "[…]")) }}</a>.
        {% if webmention.published %}
          Written on
          <time class="postlist-date" datetime="{{ webmention.published }}"><a href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer nofollow">{{ webmention.published | readableDateFromISO }}</a></time>.
        {% endif %}
      </p>
      <a class="webmention-anchor heading-effect" href="#webmention-{{ webmention['wm-id'] }}">⚓️</a>
    </div>
    {% if webmention.content.text %}
      <div class="webmention-content">
        {{ webmention.content.text | truncate(280, true, " […]") }}
      </div>
    {% endif %}
  </article>
{% endif %}
