---
layout: layouts/category.njk
title: "{{ tag }}"
author: "Thomas Steiner"
permalink: categories/{{ tag }}/index.html
---
<ul>
{%- for post in collections[tag] -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>