---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article>
  <header>
    <a href="{{ page.url | url }}"><h3>{{ title }}</h3></a>
    <div class="metadata post-date">
      <img class="author" src="/images/thomas_steiner.jpg" alt="Thomas Steiner headshot">
      <p>
        By <a href="/about/">Thomas Steiner</a>.
        Written on <time datetime="{{ page.date.toISOString() }}">{{ page.date.toDateString() }}</time>.
        {% if tags %}
          {% for tag in tags %}
            {% if tag !== 'posts' %}
              <a href="/tags/{{ tag }}" class="tag"><b>{{ tag }}</b></a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </p>
    </div>
  </header>
  {{ content | safe }}
</article>

<section>
  <h3>Webmentions</h3>
  {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
  {% include 'webmentions.njk' %}
</section>