---
layout: layouts/base.njk
---
<article lang="{{ language if language else "en" }}">
  <header>
    <a href="{{ page.url | url }}"><h1>{{ title }}</h1></a>
    <div lang="en" class="metadata post-date">
      <img class="author" src="/images/thomas_steiner_small.jpg" width="64" height="64" alt="Thomas Steiner headshot" fetchpriority="high">
      <p>
        By <a href="/about/">Thomas Steiner</a>.
        Written on
        <time datetime="{{ page.date.toISOString() }}"><a href="{{ page.url | url }}">{{ page.date.toDateString() }}</a></time>.
        {% if tags %}
          {% for tag in tags %}
            {% if tag !== 'posts' %}
              <a href="/tags/{{ tag | lower }}" class="tag-item">{{ tag }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </p>
    </div>
  </header>
  <section>
    {{ content | safe }}
  </section>
  <footer lang="en">
    <p class="edit-on-github">
      You can <a href="https://github.com/tomayac/blogccasion/tree/main/{{ page.inputPath }}" rel="nofollow">edit this page on GitHub</a>.
    </p>
    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'webmentions.njk' %}
  </footer>
</article>
